*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 500%;
    color: darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-shadow: rgb(228, 215, 215);
}

.main-app {
    background-image: url(pexels-karolina-grabowska-4386158.jpg);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 100px;
}

.app-frame {
    background-color: rgba(222, 243, 222, 0.95);
}

.display {
    border: 2px solid gray;
    height: 70px;
    width: 400px;
    align-items: center;
    justify-items: center;
    position: relative;
    text-align: center;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    background-color: rgb(10, 10, 10, 0.9);
    color: greenyellow;
    padding-top: 5px;
}

.display-line{
    list-style: none;
}

.input-fields {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.input-fields, .user-details, .services {
    padding-top: 10px;
    margin-top: 10px;
}

.first-input, .second-input, .third-input, .submit {
    display: flex;
    flex-direction: row;
    border: 2px solid darkgreen;
    border-radius: 10px;
    height: 30px;
    width: 180px;
    place-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 5px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

.user-buttons {
    /* display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 5px; */
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    color: gray;
}

.services-buttons {
    /* display: inline-grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-gap: 5px; */
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 20px;
    align-content: space-around;
}

.users-function, .services-function {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: darkgreen;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
}

.users-function:hover, .services-function:hover, .submit:hover {
    cursor: pointer;
    color: darkred;
    background-color: lightyellow;
}

.users, .services {
    text-align: center;
    font-style: bold;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

/* .next,  */
.submit {
    font-size: 120%;
}

/* .next {
    display: flex;
    justify-items: center;
    align-items: center;
} */